@import 'settings';
@import 'bower';
@import 'particles';
@import url('https://fonts.googleapis.com/css?family=Contrail+One');

#content {
  position: absolute;
  height: 40%; top: 30%;
  width: 50%; left: 25%;
  z-index: 100;
  font-family: 'Contrail One', sans-serif;
  text-align: center;
  color: $color2;
  @media screen and (max-width: $breakpoint) {
    height: 40%; top: 30%;
    width: 80%; left: 10%;
  }
}

h1 {
  font-size: 3em;
  @media screen and (max-width: $breakpoint) {
    font-size: 2em;
  }
}

h2, h3 {
  font-size: 1.5em;
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

.social {
  margin-top: 20px;
}

h2 a, .social a {
  color: $color2;
  text-decoration: none;
  &:hover, &:active {
    color: $color4;
  }
}
