---
layout: default
---

<div id="content">

  <h1>Sam Wilson</h1>

  <h2>Providing expert consulting services for the flooring industry</h2>
  <!--<h2>General Manager at <a href="http://www.artofflooring.co.uk/" target="_blank" title="Art of Flooring">Art of Flooring</a></h2>-->
  <h3>Based in Cambridge, UK</h3>

  <div class="social">
    {% if site.twitter %}
      {% include social-icon.html array=site.twitter %}
    {% endif %}

    {% if site.facebook %}
      {% include social-icon.html array=site.facebook %}
    {% endif %}

    {% if site.instagram %}
      {% include social-icon.html array=site.instagram %}
    {% endif %}

    {% if site.linkedin %}
      {% include social-icon.html array=site.linkedin %}
    {% endif %}

    {% if site.github %}
      {% include social-icon.html array=site.github %}
    {% endif %}
  </div>

</div>

<div id="particles-js"></div>
